<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Customer</title>
</head>
<body>
    <div>
        <form class="form-signin" method="POST" action="/auth/login">
            <h2 class="form-signin-heading">Login</h2>
            <p>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="Password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <button class="btn btn-lg btn-primary brn-block" type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>