<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/styles/main.css" rel="stylesheet" />
</head>
<body class ="main">
    <header class>
        <img src="../static/images/cHat.png" alt="logo" class="logo">
    </header>
        <div class="login" id="login">
            <p>Вы зашли как <b>Котик</b> (Выход)</p>
        </div>
    <div class="bigMain">
        <div class="content">
            <div class="menu" id="menu">
                <p><b>Меню</b></p>
                <p class="activeMenu">Общий чат</p>
                <p>dima448</p>
                <p>Анатолий</p>
                <p></p>
            </div>
            <div class="chat">
                <p><b>dima448:</b> Всем привет! Как дела?</p>
                <p><b>Анатолий:</b> Супер! А у тебя?</p>
            </div>
        </div>
    </div>
</body>
</html>