<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cHat</title>
    <link href="../static/styles/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/images/ch.ico" type="image/x-icon"/>
</head>
<body class ="main">
    <header class>
        <img src="../static/images/cHat.png" alt="logo" class="logo">
    </header>
    <div class="login" id="login">
        <span>Вы зашли как <b id="username" th:text="${username}"></b></span>
        <a th:href="@{/logout}">(Выйти)</a>
    </div>
    <div class="bigMain">
        <div class="content">
            <div class="menu" id="menu">
                <p><b>Меню</b></p>
                <p class="activeMenu">Общий чат</p>
            </div>
            <div class="chat" id="connecting">
                <div id="messageArea">
                    <li class="chat-message" th:each="element : ${chatMessages}">
                        <strong class="nickname" th:text="${element.sender}"></strong>
                        <span th:text="${element.content}"></span>
                    </li>
                </div>
                <form id="messageForm">
                    <div class="send">
                        <input id="message">
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript">
        var block = document.getElementById("block");
        block.scrollTop = block.scrollHeight;
    </script>
</body>
</html>