<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <title>cHat: Регистрация</title>
    <link href="../static/styles/registration.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../static/images/ch.ico" type="image/x-icon"/>
</head>
<body class="main">
<header class>
    <img src="../static/images/cHat.png" alt="logo" class="logo">
</header>
<div class="login" id="login">
    <p><br></p>
</div>
<div class="in">
    <form method="POST" action="/auth/login">
        <h1 class="login">Регистрация</h1>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="Password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary brn-block" type="submit">Создать</button>
    </form>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>